<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="true" />
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
    <packageRestore>
      <add key="enabled" value="true" />
    </packageRestore>
  </solution>
  <packageSources>
    <add key="Bars NuGet" value="http://nuget.bars-open.ru/api/v2/" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <add key="Bars NuGet" value="true" />
  </disabledPackageSources>
</configuration>
